{% load static %}
<footer class="footer-area">
    <div class="footer-top-area gray-bg-5 pt-105 pb-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title-2">Ezone Boos</h3>
                        <div class="footer-info-wrapper">
                            <div class="footer-address">
                                <div class="footer-info-icon">
                                    <i class="ti-location-pin"></i>
                                </div>
                                <div class="footer-info-content">
                                    <p>77 Seventh Streeth, Banasree.
                                        <br>USA -215568</p>
                                </div>
                            </div>
                            <div class="footer-address">
                                <div class="footer-info-icon">
                                    <i class="ti-headphone-alt"></i>
                                </div>
                                <div class="footer-info-content">
                                    <p>+880 1124 22365 2223
                                        <br>+880 1124 22365 5455</p>
                                </div>
                            </div>
                            <div class="footer-address">
                                <div class="footer-info-icon">
                                    <i class="ti-email"></i>
                                </div>
                                <div class="footer-info-content">
                                    <p><a href="#">domain@company.com</a>
                                        <br><a href="#">company@domain.info</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget mb-40 pl-70">
                        <h3 class="footer-widget-title-2">USeful Links</h3>
                        <div class="footer-widget-content-2">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="#">Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title-2">Shopping</h3>
                        <div class="footer-widget-content-2">
                            <ul>
                                <li><a href="#">How to buy</a></li>
                                <li><a href="#">Payments</a></li>
                                <li><a href="#">Shipment</a></li>
                                <li><a href="#">Tracking</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget mb-40 pl-30">
                        <h3 class="footer-widget-title-2">Find US</h3>
                        <iframe class="footer-map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.693667617067!2d144.946279515845!3d-37.82064364221098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4cee0cec83%3A0xd019c5f69915a4a0!2sCollins%20St%2C%20West%20Melbourne%20VIC%203003%2C%20Australia!5e0!3m2!1sen!2sbd!4v1607512676761!5m2!1sen!2sbd">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom  gray-bg-6 ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright-2">
                        <p>
                            Copyright ©
                            <a href="hastech.company/index.html">HasTech</a> 2022 . All Right Reserved.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="payment-img">
                        <img src="{% static 'assets/img/icon-img/3.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>