{% load static %}
<!-- subscribe area start -->
<div class="subscribe bg-img ptb-80" style="background-image: url({% static 'assets/img/bg/2.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="subscribe-content">
                    <h3>Subscribe to outr newsletter</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's dummy </p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div id="mc_embed_signup" class="subscribe-form-2 pr-40">
                    <form action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <input type="email" value="" name="EMAIL" class="email" placeholder="Enter Your E-mail" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="mc-news" aria-hidden="true">
                                <input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value="">
                            </div>
                            <div class="clear">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>