{% extends '_layouts/_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="register-area ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-12">
          <div class="product-description-review-area">
            <div class="container">
              <div class="product-description-review text-center">
                <div class="section-title-3 text-center mb-50">
                  <h2>Join Today</h2>
                </div>
                <div class="description-review-text tab-content">
                  <div class="tab-pane active show fade" id="pro-dec" role="tabpanel">
                    <label>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</label>
                  </div>
                  <div class="tab-pane fade" id="pro-review" role="tabpanel">
                    <a href="#">Be the first to write your review!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-12">
          <div class="your-order">
            <div class="your-order-table table-responsive">
              <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Sign Up</legend>
                  {{ form|crispy }}
                </fieldset>
                <div class="order-button-payment">
                  <input type="submit" value="Sign Up" />
                </div>
              </form>
              <div class="border-top pt-3">
                <small class="text-muted">Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include '_partials/_subscriptions.html' %}
{% endblock %}
